{# This wraps the full block in a grid layout #}

<h2 class="spl-additional-blogs-main-heading">Additional Blogs To Help Your Aiken Landscape Thrive</h2>

<div class="spl-blog-teaser-grid">
  {% for row in rows %}
    {{ row.content }}
  {% endfor %}
</div>